# Core Flask dependencies
Flask==3.1.0
Flask-SQLAlchemy==3.1.1
psycopg2-binary==2.9.10
Flask-Migrate==4.0.7
Flask-JWT-Extended==4.6.0
Flask-RESTful==0.3.10
Flask-Cors==5.0.0
Flask-Login==0.6.3

# Optional Flask extensions
Flask-Admin==1.6.1
Flask-Mail==0.10.0
Flask-Assets==2.1.0
Flask-Session==0.8.0
Flask-Principal==0.4.0

# Additional useful Flask packages
Flask-Testing==0.8.1
Flask-Uploads==0.2.1


fastapi
uvicorn
python-multipart
fastapi
uvicorn
sqlalchemy
bcrypt
jinja2
python-jose[cryptography]
python-dotenv
pydantic
